{% extends 'clean.html.twig' %}

{% block title %}Register
{% endblock %}

{% block header %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('{{ asset('clean/assets/img/home-bg.jpg') }}')">

		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Clean Blog:Register</h1>
						<span class="subheading">A Blog Theme by Start Bootstrap:Register</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
